header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#logo:hover {
    cursor: pointer;
}

#title {
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 40px;
    color: white;
    background-color: grey;
}