header {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#logo:hover {
    cursor: pointer;
}

#title {
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 50px;
    color: white;
    background-color: blue;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: blue;
}

#button {
    height: 40px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    align-content: flex-end;
}

#button:hover {
    cursor: pointer;
}